body {
  --pinterest-background: var(--background-secondary);
  --pinterest-button: var(--background-modifier-hover);
  --pinterest-text: var(--text-normal);
}

div.pinterest-error {
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--background-secondary);
}

div.pinterest-error pre {
  margin: 5px 0 !important;
}

div.pinterest-error pre > code {
  color: crimson !important;
}

.pinterest-container {
  margin: 0 auto;
  text-align: center;
}

.pinterest-container span[class$="board"], 
.pinterest-container span[class$="native"], 
.pinterest-container span[class$="footer"], 
.pinterest-container span[class$="c3"] {
  background: var(--pinterest-background) !important;
  border-color: var(--pinterest-button) !important;
  color: var(--pinterest-text) !important;
}

.pinterest-container span[class$="button"] {
  background: var(--pinterest-button) !important;
  border-color: var(--pinterest-button) !important;
}

.pinterest-container.no-button span[class$="button"] {
  display: none !important;
}

.pinterest-container span[class$="container"] {
  background: var(--pinterest-background) !important;
}

.pinterest-container span[class$="string"] {
  color: var(--pinterest-text) !important;
}
